@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

<h1>Create Role</h1>
<hr />
@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <label for="name">Role Title</label>
    @Html.TextBoxFor(model => model.Name, new { @id = "name" })
    <input class="btn blue" type="submit" value="Save" />
}